body {
    text-align: center;
}
/* Start Digital Clock style */
#Digital {
    max-width: 540px;
    width: 70%;
    margin: 10%;
}
#seconds0, #seconds1 {
    opacity: 0.5;
}
/* End Digital Clock style

   Start Analog Clock style */
#analog {
    width: 70%;
    max-width: 480px;
    margin: 20px;
}
#bg {
    fill: #FFFFFF;
}
#sp {
    fill: #961A1D;
}
#hp, #mp, #sp {
    transform-origin: center;
}
#hoursNumbers {
    opacity: 0.5;
}
/* End Analog Clock style */

footer p {
    font-size: small;
}
footer p a {
    text-decoration: none;
}
footer p a:hover {
    text-decoration: underline;
}